body {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2BAACD;
}

a {
    text-decoration: none !important;
}

.glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Header */

.header {
    height: 12%;
    width: 100%;
    border-radius: 0px 0px 15px 15px !important;
    display: flex;
    line-height: 1;

}

.logo {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}

.navbartransition {
    width: fit-content;
}

.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: white;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: white;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

/* Header */

/* Body */
.body {
    max-width: 1440px;
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section,
.reading-section,
.listening-section {
    width: 90%;
    height: 520px;
    display: flex;
}

.hero-section {
    height: 600px;
}

/* Hero section */

.hero-main,
.hero-img {
    width: 50%;
    height: 100%;
}

.hero-main {
    border-radius: 15px 0px 0px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    border-radius: 0px 15px 15px 0px;
    background-color: white;
}

.title,
.sub-title,
.buttons {
    width: 90%;
}

.hero-main .title {
    font-size: 32px;
    font-weight: 600;
}

.hero-main .sub-title {
    font-size: medium;
}

.hero-main .buttons {
    margin-top: 15px;
    gap: 10px;
    display: flex;
}

.hero-main .button {
    width: 135px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid greenyellow;
    background-color: white;
}


/* Hero section */

.card {
    max-width: 300px;
    max-height: 300px;
    width: 230px;
    height: 250px;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    font-size: 32px;
    font-weight: 600;
}

.performance-title {
    font-size: 18px;
}

/* Reading section */

.reading-section-1,
.reading-section-2 {
    height: 100%;
}

.reading-section-1 {
    width: 45%;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
}

.reading-section-2 {
    width: 100%;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Reading section */

/* Listening section */
.listening-section-1,
.listening-section-2 {
    height: 100%;
}

.listening-section-pre-1,
.reading-section-pre-2 {
    width: 55%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.listening-section-1 {
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.listening-section-2 {
    width: 45%;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
}

/* Listening section */

.dashboard-img {
    width: 100%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

.reading-img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    transition: opacity 1s ease-in-out;
}

.listening-img {
    transition: opacity 1s ease-in-out;
    /* Smooth fade transition */
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.listening-title,
.reading-title {
    padding-top: 45px;
    font-size: 24px;
    height: 10%;
    font-weight: bold;
}

/* Body */

/* Footer */
.footer {
    width: 100%;
    height: 80%;
    border-radius: 0px 0px 0px 0px;
    display: flex;
}

.footer-section-1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-section-1-1 {
    width: 100%;
    height: 40%;
    border-radius: 15px 0px 0px 0px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.more {
    font-size: 24px;
    font-weight: 600;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-section-1-2 {
    width: 100%;
    height: 50%;
    gap: 20px;
    padding-left: 25px;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-details {
    text-align: justify;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.details-head {
    font-size: 18px;
    font-weight: 600;
}

.footer-section-1-3 {
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
}

.footer-section-2 {
    width: 40%;
    height: 100%;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-2 .glass {
    width: 70%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    gap: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-us {
    font-size: 32px;
    height: 10%;
    width: 50%;
}

.input-box {
    width: 70%;
    height: 80%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.text-field,
.desc-field {
    width: 100%;
    height: 10%;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid blue;
}

.send-button {
    width: 135px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid greenyellow;
    background-color: white;
}

.send-button:hover,
.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button:active,
.send-button:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.desc-field {
    height: 50%;
}

.contact-button {
    height: 10%;
    width: 100%;
    gap: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.contact-icon {
    width: 20px;
    height: 20px;
}

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 1;
}

/* Footer */

@media screen and (max-width: 640px) {

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
        margin: 0px 0px 10px;
    }

    .details {
        gap: 15px;
    }

    .navbartransition {
        display: none;
    }

    body {
        gap: 20px;
    }

    .body {
        gap: 20px;
    }

    .footer-section-1-1 {
        height: 40%;
        border-radius: 0px;
        border-top: 1px solid white;
    }

    .hero-main .title,
    .score {
        font-size: 23px;
    }

    .dashboard-img {
        border-radius: 15px 15px 0px 0px;
    }

    .reading-img {
        border-radius: 15px 15px 0px 0px;
    }

    .hero-main .button {
        font-weight: 600;
        font-size: 13px;
    }

    .performance-title {
        font-size: 15px;
    }

    .hero-section,
    .listening-section {
        flex-direction: column-reverse;
        height: 500px;
    }

    .reading-section {
        flex-direction: column;
        height: 500px;
    }

    .hero-img,
    .hero-main {
        width: 100%;
        height: 50%;
    }

    .hero-img,
    .listening-section-2,
    .reading-section-1 {
        border-radius: 15px 15px 0px 0px;
    }

    .reading-section-1,
    .reading-section-pre-2,
    .listening-section-pre-1,
    .listening-section-2 {
        width: 100%;
        height: 50%;
    }

    .listening-title,
    .reading-title {
        padding-top: 20px;
        font-size: 20px;
        height: 10%;
    }

    .card {
        width: 31%;
        height: 45%
    }

    .footer {
        flex-direction: column-reverse;
        height: 1000px;
    }

    .footer-section-1 {
        width: 100%;
        height: 50%;
    }

    .footer-section-2 {
        width: 100%;
        height: 50%;
    }

    .footer-section-2 .glass {
        height: 85%;
        width: 90%;
    }

    .input-box {
        width: 80%;
    }

    .footer-section-1-2 {
        height: 60%;
        padding: 25px;
        gap: 10px;
    }

    .footer-section-1-3 {
        height: 10%;
    }

    .contact-us {
        font-size: 23px;
        font-weight: 600;
    }
}

@media screen and (min-width: 768px) {

    .hero-main .title {
        font-size: 28px;
    }

    .sub-title {
        padding-top: 0.4%;
    }

    .hero-main .button {
        font-size: 14px;
        font-weight: 500;
    }

    .send-button {
        height: 40px;
        font-size: 14px;
        font-weight: 500;
    }

    .card {
        width: 30%;
        height: 160px;
    }

    .footer {
        height: 50%;
    }

    .footer-section-1 {
        width: 50%;
    }

    .footer-section-1-1 {
        height: 40%;
        padding-top: 20px;
    }

    .footer-section-1-2 {
        height: 70%;
        padding-right: 15px;
        text-align: justify;
    }

    .footer-section-2 {
        width: 50%;
    }

    .footer-section-2 .glass {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {}

@media (min-width: 1280px) {

    .card {
        width: 30%;
        height: 230px;
    }

    .hero-main .button,
    .send-button {
        height: 45px;
        font-size: 16px;
        font-weight: 400;
    }

    .footer {
        width: 100%;
        height: 80%;
    }

    .footer-section-1 {
        width: 50%;
    }

    .footer-section-1-1 {
        height: 40%;
    }

    .footer-section-1-2 {
        height: 50%;
        padding-left: 25px;
        text-align: justify;
    }

    .footer-section-2 {
        width: 50%;
    }

    .footer-section-2 .glass {
        width: 70%;
    }
}