html {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    overflow: hidden;
    background-image: linear-gradient(-180deg, rgb(34, 150, 122) 0%, rgb(21, 77, 66) 96%);
}


body {
    width: 100%;
    margin: 0;
    line-height: 1 !important;
    font-family: none !important;
}

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

/* Chart */
.charts {
    height: 100%;
    width: 100%;
    gap: 15px;
    display: none;
    flex-direction: column;
}

.section-1 {
    width: 100%;
    height: 40pc;
    gap: 15px;
    display: flex;
}

.section-1-1 {
    width: 70%;
    height: 100%;
}

.section-1-2 {
    width: 30%;
    height: 100%;
}

.overall-performance {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    height: 10%;
    font-size: 20px;
    padding-left: 27px;
    padding-top: 15px;
    font-weight: bolder;
}

.countboxes {
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}

.count-box {
    width: 30%;
    gap: 15px;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
}

.count-box-title {
    height: 40%;
    font-size: 16px;
    color: black;
    text-align: center;
}

.count-box-count {
    font-size: 32px;
    height: 60%;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.chart5 {
    height: 60%;
    width: 100%;
}

.line-chart {
    width: 100% !important;
}

.section-wise-performance {
    height: 100%;
    display: flex;
    gap: 15px;
}

.title-2 {
    width: 10%;
    height: 100%;
    padding: 23px 0px;
    writing-mode: vertical-lr;
    text-align: left;
    transform: rotate(360deg);
}

.d-chart {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.section-1-2-1,
.section-1-2-2 {
    height: 47%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.sub-title {
    color: black;
    margin: 0;
    padding-left: 10px;
}

.doughnut-chart {
    height: 100% !important;
}

.question-section-wise {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-2-1 {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    height: 90%;
}

.section-2-1-1,
.section-2-1-2,
.section-2-1-3 {
    width: 32%;
    height: 100%;
    text-align: center;
    color: black;
}

.horizontal-chart {
    width: 100% !important;
    height: 80% !important;
}

.Question-wise-performance {
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.section-3-1 {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.section-3-1-1,
.section-3-1-2 {
    width: 48%;
    text-align: center;
    color: black;
}

/* Chart */

/* Glass */
.glass {
    border-radius: 15px;
    backdrop-filter: blur(1px);
    box-shadow: 1px 0px 4px rgba(3, 3, 3, 0.5);
    border: 1px solid #bfc4ca;
    background-image: linear-gradient(-180deg, rgb(255, 255, 255) 0%, rgb(226, 238, 236) 96%);
}

/* Glass */

.notifications {
    z-index: 999 !important;
}

/* New Header */

.logo {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat' !important;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background: #161F1E;
    position: absolute;
    width: 100%;
    color: white !important;
    z-index: 100;
    position: fixed;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 13%;
    height: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

/* New Header */

/* Body section */
.body_section {
    height: 100vh;
    margin: 6% 0px 1%;
    padding: 0px 10px;
    gap: 10px;
    color: black;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

/* Body section */

/* Graph */
.no_graph {
    display: flex;
    width: 100%;
    height: 100vh;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: orangered;
}

/* Graph */

/* Footer */

.footer {
    height: 50px;
    width: 100%;
    background-color: #161F1E;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    border-top: 1px solid white;
    color: white;
}

.contact-icons {
    width: 50%;
    gap: 10px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer */

/* Button 63 */
/* CSS */
.button-63 {
    border-radius: 8px;
    color: black;
    font-family: Phantomsans, sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid greenyellow;
    background-color: white;
}

.button-63:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button-63:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.tip-open-button {
    width: 12%;
    height: 30%;
}

.tip-popup {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.5px);
}

.tip-box {
    width: 50%;
    height: fit-content;
    background: rgba(255, 255, 255, 1.7);
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 1px 0px 4px rgba(3, 3, 3, 0.5);
    border: 1px solid grey;
    text-align: justify;
    color: black;
}

.list {
    font-weight: bold;
    font-style: italic;
}

.popupclose-div {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupclose-button {
    width: 55px;
    height: 35px;
    background-color: black;
    color: white;
}

.tip-header {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 640px) {
    body {
        width: 150%;
        height: 150%;
    }

    .body_section {
        height: 150%;
    }

    .overall-performance {
        height: 350px;
    }

    .count-box-count {
        font-size: 20px;
    }

    .d-chart {
        width: 100%;
        align-items: center;
    }

    .section-1-2-1,
    .section-1-2-2 {
        width: 90%;
    }

    .doughnut-chart {
        width: 300px !important;
    }

    a.slide-up {
        margin-top: 10%;
    }

    @keyframes slide-up {
        from {
            margin-top: 30%;
        }

        to {
            margin-top: 10%;
        }
    }

    .body_section {
        overflow-x: scroll;
        margin-top: 15%;
    }


    /* header  */

    .navbartransition {
        display: none;
    }

    .navbar {
        padding: 20px 10px;
    }

    .logo {
        font-size: 18px;
    }

    .links {
        width: 30%;
    }

    /* header  */

    /* Footer */
    .copyright {
        font-size: 12px;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    /* Footer */

    /* Tip popup */
    .tip-box {
        width: 80%;
        overflow-y: scroll;
    }

    .tip-popup {
        height: 100vh;
    }

    .tip-open-button {
        width: 50%;
        height: 35%;
        padding: 5px;
    }

    /* Graph */
    .section-1 {
        flex-direction: column;
        height: fit-content;
    }

    .section-1-1 {
        width: 100%;
        height: 100%;
    }

    .section-1-2 {
        width: 100%;
        flex-direction: column;
    }

    .section-wise-performance {
        flex-direction: column-reverse;
    }

    .title-2 {
        width: 100%;
        writing-mode: horizontal-tb;
    }

    .title {
        text-align: center;
    }

    .section-3-1 {
        flex-direction: column;
    }

    .count-box-title {
        font-size: 13px;
    }

    .section-3-1-1,
    .section-3-1-2 {
        width: 100%;
    }

    .section-2-1 {
        flex-direction: column;
    }

    .section-2-1-1,
    .section-2-1-2,
    .section-2-1-3 {
        width: 100%;
    }

    /* Graph */

}

@media screen and (min-width: 768px) {

    .body_section {
        margin-top: 10%;
    }

    .links {
        width: 25%;
    }

    .section-1 {
        height: 30pc;
    }

    .section-wise-performance {
        gap: 0px;
    }

    .tip-open-button {
        width: 25%;
        height: 30px;
    }

    .tip-box {
        width: 65%;
    }

    .section-3-1 {
        flex-direction: column;
        align-items: center;
    }

    .section-3-1-1,
    .section-3-1-2 {
        width: 95%;
    }

    .section-2-1 {
        flex-direction: column;
        align-items: center;
    }

    .section-2-1-1,
    .section-2-1-2,
    .section-2-1-3 {
        width: 95%;
    }
}

@media screen and (min-width: 1024px) {

    .body_section {
        margin-top: 6%;
    }

    .tip-open-button {
        width: 33%;
        height: 28px;
    }

    .links {
        width: 15%;
    }

    .tip-box {
        width: 50%;
    }

    .section-1 {
        height: 40pc;
    }

    .section-wise-performance {
        gap: 15px;
    }

    .section-3-1 {
        flex-direction: row;
    }

    .section-3-1-1,
    .section-3-1-2 {
        width: 48%;
    }

    .section-2-1 {
        flex-direction: row;
    }

    .section-2-1-1,
    .section-2-1-2,
    .section-2-1-3 {
        width: 50%;
    }
}