.login-img {
    display: none;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    overflow-x: hidden;
}

body {
    line-height: 1 !important;
}

.glass {
    background-image: var(--main-background-image);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #BDBDBD;
}

/* Glass Effect */


/* Button 63 */
/* CSS */

/* Body Section */
.body_section {
    height: 100%;
    width: 98%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.validation-box {
    width: 35%;
    height: 50%;
    border-radius: 15px;
}

.validation-box-header {
    height: 20%;
    width: 100%;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation-box-body {
    height: 60%;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.validation-box-footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox {
    height: 20% !important;
}

.button {
    width: 135px;
    height: 40px;
    border-radius: var(--button-border-radius);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    background-image: var(--button-color-1);
}

/* List view */

.list {
    display: none;
}

.index,
.studentname,
.date,
.total,
.dashboard {
    width: 14%;
}

.dataheader {
    display: none;
}

.dashboard-button {
    width: 50%;
    height: 70%;
    color: white;
    background-image: var(--button-color-1);
}

/* List view */

/* Body Section */

/* Footer  */
.footer {
    backdrop-filter: blur(1px);
    margin-top: 35px;
}

/* Footer  */


@media screen and (max-width: 640px) {

    /* body section */

    /* List view */
    .data {
        justify-content: space-around;
    }

    .index,
    .studentname,
    .dashboard {
        width: 25%;
    }

    .date,
    .total {
        display: none;
    }

    .dash {
        font-size: 11px;
    }

    .studentname {
        text-align: left;
    }

    .dashboard-button {
        width: 70%;
        height: 60%;
        font-size: 10px;
    }

    /* List view */

    .validation-box {
        width: 100%;
        height: 40%;
    }

    .body_section {
        height: 85vh;
        margin-top: 23%;
    }

    /* body section */

    /* Footer  */

    .footer {
        margin-top: 2%;
    }

    /* Footer  */
}


@media screen and (min-width: 768px) {

    .body_section {
        height: 90vh;
        margin-top: 11%;
    }

    .validation-box {
        width: 70%;
        height: 35%;
    }

    .footer {
        margin-top: 2%;
    }

    .dashboard-button {
        width: 85%;
        height: 60%;
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {

    .body_section {
        height: 85vh;
        margin-top: 6%;
    }

    .validation-box {
        width: 35%;
        height: 50%;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    .dashboard-button {
        width: 60%;
    }
}