/* New Header */
/* Navbar */

.navbartransition {
    color: white;
}

.tip-open-button {
    width: 43%;
    border: 0pc !important;
    height: 0px !important;
}

/* New Header */

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    background: url('Asset/5790b59f9d49b818ca27538455000a07.jpg') no-repeat center center/cover;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(22, 31, 30, 0.84), rgba(22, 31, 30, 0.64));
    /* Adjust opacity here */
    z-index: 1;
}

body {
    line-height: 1 !important;
}

/* glass */
.glass {
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* glass */

/* body */
.body_section {
    height: 95vh;
    display: flex;
    align-items: center;
    color: white;
    z-index: 2;
    position: relative;
}

.box {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 25px;
    width: 35%;
    text-align: justify;
}

.title {
    font-size: 54px;
    font-weight: bold;
    font-family: 'Montserrat' !important;
}

.description {
    font-size: 1.2rem;
    font-family: 'Montserrat' !important;
}

/* body */

/* Button 63 */
/* CSS */

.btn {
    padding: 12px 25px;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: 140px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: var(--button-border-radius) !important;
    transition: all 0.3s ease;
    padding: 0;
}

.green-btn {
    background-image: var(--button-color-1);
}

.white-btn {
    background-image: var(--button-color-2) !important;
    color: black !important;
}

/* Footer  */
.footer {
    height: 6.6%;
    backdrop-filter: blur(7.4px);
    position: relative;
    z-index: 2;
}

/* Footer  */

@media screen and (max-width: 640px) {

    /* header  */

    .body_section {
        margin: 80px 1% 10px;
        height: 85vh;
        justify-content: center;
    }

    .box {
        text-align: left;
        width: 90%;
        position: relative;
        left: 0;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 768px) {

    .box {
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .box {
        width: 35%;
    }
}