html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

a {
    text-decoration: none !important;
    color: black;
}


/* New Header */

.logo {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat' !important;
}

.login-img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background: #161F1E;
    width: 100%;
    color: white;
    z-index: 100;
    position: fixed;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.navbartransition {
    color: white;
}

.tip-open-button {
    width: 43%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid greenyellow;
    background-color: transparent;
    height: 0;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 13%;
    height: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

/* New Header */

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    background: url('Asset/5790b59f9d49b818ca27538455000a07.jpg') no-repeat center center/cover;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(22, 31, 30, 0.84), rgba(22, 31, 30, 0.64));
    /* Adjust opacity here */
    z-index: 1;
}

.contact-icons {
    width: 50%;
    gap: 10px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

body {
    line-height: 1 !important;
}

/* glass */
.glass {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* glass */

/* body */
.body_section {
    height: 95vh;
    display: flex;
    align-items: center;
    color: white;
    z-index: 2;
    position: relative;
}

.box {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 25px;
    width: 35%;
    text-align: justify;
}

.title {
    font-size: 54px;
    font-weight: bold;
    font-family: 'Montserrat' !important;
}

.description {
    font-size: 1.2rem;
    font-family: 'Montserrat' !important;
}

/* body */

/* Button 63 */
/* CSS */
.button-63 {
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    padding: 12px 25px;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: 140px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px !important;
    transition: all 0.3s ease;
    padding: 0;
}

.button-63:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button-63:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.green-btn {
    background-image: linear-gradient(-180deg, rgb(34, 150, 122) 0%, rgb(21, 77, 66) 96%);
}

.white-btn {
    background-image: linear-gradient(-180deg, rgb(255, 255, 255) 0%, rgb(226, 238, 236) 96%) !important;
    color: black !important;
}

/* Footer  */
.footer {
    height: 6.6%;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    display: flex;
    background-color: #161F1E;
    color: white;
    border-top: 1px solid white;
    position: relative;
    z-index: 2;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer  */

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

@media screen and (max-width: 640px) {


    /* header  */

    .navbartransition {
        display: none;
    }

    .navbar {
        padding: 20px 10px;
    }

    .logo {
        font-size: 18px;
    }

    .links {
        width: 30%;
    }

    .tip-open-button {
        width: 50%;
        padding: 5px;
    }

    /* header  */

    .body_section {
        margin: 80px 1% 10px;
        height: 85vh;
    }

    .box {
        text-align: left;
        width: 80%;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }

    /* Footer  */
    .copyright {
        font-size: 12px;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    /* Footer  */
}

@media screen and (min-width: 768px) {
    .links {
        width: 25%;
    }

    .tip-open-button {
        width: 25%;
    }

    .box {
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .tip-open-button {
        width: 33%;
    }

    .links {
        width: 15%;
    }

    .box {
        width: 35%;
    }
}